{{#> component-container title="Textfield"}}
      <div class="c-textfield">
        <label for="normal" class="c-textfield__label">مدخل عادي</label>
        <input type="text" class="c-textfield__input" placeholder="أدخل المحتوى" id="normal" />
      </div>

       <div class="c-textfield">
        <label for="textarea" class="c-textfield__label">مدخل فقرة</label>
        <textarea id="textarea" placeholder="أدخل المحتوى" class="c-textfield__textarea"></textarea>
        <span class="c-textfield__hint">ملاحظات من أجل المدخل</span>
      </div>

{{/component-container}}